@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#e0e0e0] text-[#0b1722] dark:bg-[#102532] dark:text-[#f0fafb];
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.font-regular {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.font-bold {
  font-weight: 700;
}

